@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body,
* {
  cursor: none;
  word-break: keep-all;
}
.cursor-parent {
  position: fixed;
  z-index: 9999;
  top: -50px;
  left: -50px;
  width: 40px;
  height: 40px;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.cursor {
  width: 40px;
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  transform-origin: 50% 65%;
}

/* Header & Nav */
.nav-link:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #ff5500;
  transition-duration: 0.3s;
}

.nav-list__item:hover .nav-link:after {
  width: 100%;
}

.child-nav-link {
  position: relative;
}

.child-nav-link:after {
  position: absolute;
  content: "";
  display: inline-block;
  top: calc(100% + 2px);
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff5500;
  transition-duration: 0.3s;
}
.child-nav-link:hover:after {
  width: 100%;
}

/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: linear;
}
:root {
  --swiper-wrapper-transition-timing-function: linear !important;
}
